<div class="container">
  <div class="entry"></div>
  <div class="row" *ngIf="loggedIn$ | async">
    <div class="offset-md-2 col-md-8">
      <div class="row">
        <mat-form-field class="col-md-10">
          <input matInput placeholder="I am going to do..."
                 [value]="newTodo"
                 (keyup)="onNewTodoChange($event.target.value)"
                 (keyup.enter)="!isAddTodoDisabled && onAddTodo()"
                 (keyup.escape)="onNewTodoClear()"/>
        </mat-form-field>
        <div class="col-md-2 actions">
          <button mat-raised-button color="accent"
                  (click)="onAddTodo()"
                  [disabled]="isAddTodoDisabled"
                  matTooltip="Add new todo" matTooltipPosition="before">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        Todo List
        <button class="todos-filter" mat-icon-button [matMenuTriggerFor]="todosFilter">
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu class="todos-filter-menu" #todosFilter="matMenu" xPosition="before">
          <button mat-menu-item (click)="onFilterTodos('ALL')">
            <mat-icon>assignment</mat-icon>
            <span>All</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('DONE')">
            <mat-icon>done</mat-icon>
            <span>Done</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('ACTIVE')">
            <mat-icon>check_box_outline_blank</mat-icon>
            <span>Active</span>
          </button>
        </mat-menu>
        <mat-chip-list class="todos-filter-info">
          <mat-chip>
            Displaying {{todos.filter.toLowerCase()}}
            ({{items.length}})
            todo{{items.length > 1 ? 's' : ''}}
          </mat-chip>
        </mat-chip-list>
      </h2>
      <mat-card *ngFor="let todo of items" class="todo">
        <mat-checkbox class="todo-done" [checked]="todo.done" (change)="onToggleTodo(todo)"
                      [disabled]="(loggedIn$ | async) === false"></mat-checkbox>
        <span class="todo-label">{{todo.name}}</span>
        <button mat-icon-button (click)="onRemoveTodos(todo)" *ngIf="loggedIn$ | async">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card>
      <br>
      <br>
    </div>
  </div>

</div>
