<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>Finance</h1></div>
  </div>
  <div class="row">
    <table mat-table [dataSource]="stats" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type name </th>
        <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
