@use '@angular/material' as mat;

$ndfsm-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$ndfsm-accent: mat.define-palette(mat.$light-blue-palette);
$ndfsm-warn: mat.define-palette(mat.$deep-orange-palette, A200);

$ndfsm-theme: mat.define-light-theme($ndfsm-primary, $ndfsm-accent, $ndfsm-warn);
