@use '@angular/material' as mat;

$ndfsm-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$ndfsm-light-accent: mat.define-palette(mat.$brown-palette, 200);
$ndfsm-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$ndfsm-light-theme: mat.define-light-theme((
  color: (
    primary: $ndfsm-light-primary,
    accent: $ndfsm-light-accent,
    warn: $ndfsm-light-warn
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
