<mat-card *ngFor="let transaction of transactions; trackBy: trackByFn">
  <mat-card-header>
    <mat-card-title>{{transaction.description|slice:0:20}}</mat-card-title>
    <mat-card-subtitle>{{transaction.note}}</mat-card-subtitle>
  </mat-card-header>
  <!--<img matCardImage src="Card wide image source">-->
  <mat-card-content>
    <pre>{{transaction.type.name}}</pre>
  </mat-card-content>
  <mat-card-actions align="start">
    <button  mat-raised-button color="primary" *ngIf="canEdit">Edit</button>
    <button  mat-raised-button color="primary">Details</button>
  </mat-card-actions>
</mat-card>
