<div class="grid-container">
  <h1 class="mat-h1">Cards</h1>
  <button mat-raised-button color="primary" (click)="create()">Create</button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="cards$" class="full-width">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="validTo">
        <th mat-header-cell *matHeaderCellDef> Valid to </th>
        <td mat-cell *matCellDef="let element"> {{element.validTo | date}} </td>
      </ng-container>
      <ng-container matColumnDef="bank">
        <th mat-header-cell *matHeaderCellDef> Bank </th>
        <td mat-cell *matCellDef="let element"> {{element.bank?.name}} </td>
      </ng-container>
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
