<h1 mat-dialog-title>{{isNew ? 'Create' : 'Edit'}}</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input type="text" matInput tabindex="1" placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput tabindex="1" placeholder="Url" formControlName="url">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" tabindex="10">{{isNew ? 'Save' : 'Update'}}</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</form>
