<h1 mat-dialog-title>{{data._id ? 'Edit' : 'Create'}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput tabindex="1" [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput tabindex="1" [(ngModel)]="data.text"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" tabindex="2">{{data._id ? 'Update' : 'Save'}}</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div>
